$colour-primary: #A4988A;
$colour-secondary: #A4988A;
$colour-background: #CEBEAB;
$colour-background-relief: #F5F1EB;
$colour-font-main: #444444;
$colour-font-highlight: #A4988A;
$colour-font-relief: #FFFFFF;

$font-primary: 'Noto Sans', Calibri, 'Trebuchet MS', sans-serif;

$breakpoint: 600px;
$max-width: 1080px;