@import './variables';

// Global style to be imported at the layout level
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url("./fonts/NotoSans-Light.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("./fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url("./fonts/NotoSans-Bold.ttf");
}

body {
  background-color: #CEBEAB;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $colour-font-main;
  font-family: $font-primary;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight:700;
  margin: 0;
  text-transform: uppercase;
}

a, a:hover, a:visited {
  text-decoration: inherit;
}

button,
button:active,
button:focus {
  border: none;
  outline: none;
}

input[type="text"], 
input[type="text"]:active,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="email"], 
input[type="email"]:active,
input[type="email"]:focus,
input[type="email"]:hover,
textarea, 
textarea:active,
textarea:focus,
textarea:hover {
  background-color: $colour-font-relief;
  border: none;
  border-bottom: 1px solid $colour-primary;
  border-radius: 5px 5px 0 0;
  color: $colour-font-main;
  font-family: $font-primary;
  font-weight: 300;
  height: 26px;
  padding: 2px 6px;
}

.prose-section {
  margin-bottom: 40px;

  > p {
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    text-indent: 40px;
  }

  :first-child {
    text-indent: 0px; 
  }
}

.searchFiltersContainer {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto auto auto;
  margin: auto;
  margin-top: 20px;
  max-width: $max-width;

  > div {
    color: $colour-font-main;
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  > label,
  input {
    margin-bottom: 20px;
  }

  > ul {
    margin: 0;
  }

  > #search {
    box-sizing: border-box;
    display: block;
    max-width: 400px;
  }

  > .filterHeader {
    font-size: 1.5rem;
    grid-column: span 2;
    margin-bottom: 10px;
  }

  > .filterSubheader {
    margin-left: 16px;
  }

  @media screen and (max-width: $max-width) {
    margin-right: 8px;
    margin-left: 8px;
  }

  @media screen and (max-width: $breakpoint) {
    display: block;

    > #search {
      margin-top: 10px;
      width: 100%;
    }

    > .filterSubheader {
      margin-bottom: 10px;
      margin-left: 0;
    }

    > ul {
      margin-bottom: 16px;
    }
  }
}
