@import './variables';

// Global style to be imported at the layout level
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url("./fonts/NotoSans-Light.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("./fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url("./fonts/NotoSans-Bold.ttf");
}

body {
  background-color: #CEBEAB;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $colour-font-main;
  font-family: $font-primary;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight:700;
  margin: 0;
  text-transform: uppercase;
}

a, a:hover, a:visited {
  text-decoration: inherit;
}

button,
button:active,
button:focus {
  border: none;
  outline: none;
}

input, 
input:active,
input:focus {
  background-color: $colour-font-relief;
  border: none;
  border-bottom: 1px solid $colour-background;
  border-radius: 5px 5px 0 0;
  color: $colour-font-main;
  font-family: $font-primary;
  font-weight: 300;
  height: 26px;
}

.prose-section {
  margin-bottom: 40px;

  > p {
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    text-indent: 40px;
  }

  :first-child {
    text-indent: 0px; 
  }
}