@import './variables';

// Global style to be imported at the layout level
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url("./fonts/NotoSans-Light.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("./fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url("./fonts/NotoSans-Bold.ttf");
}

body {
  background-color: #CEBEAB;
  box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $colour-font-main;
  font-family: $font-primary;
  font-weight: 300;
}

a, a:hover, a:visited {
  text-decoration: inherit;
}

button,
button:active,
button:focus {
  border: none;
  outline: none;
}