$colour-primary: #A4988A;
$colour-secondary: #A4988A;
$colour-background: #CEBEAB;
$colour-background-relief: #F5F1EB;
$colour-font-main: #444444;

$font-primary: 'Noto Sans Regular', Calibri, 'Trebuchet MS', sans-serif;
$font-primary-light: 'Noto Sans Light', Calibri, 'Trebuchet MS', sans-serif;
$font-primary-bold: 'Noto Sans Bold', Calibri, 'Trebuchet MS', sans-serif;

$breakpoint: 600px;
$max-width: 1080px;