// Experiment with random colours
$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

// Cool colours: #b151a6 #079129

$colour-primary: #f0f0f0;
$colour-secondary: #69007c;
$colour-secondary: rgb($red, $green, $blue);
$colour-background: #777479;
$colour-background-relief: #939393;
$colour-font-main: #777479;

$font-primary: 'Noto Sans Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-primary-light: 'Noto Sans Light', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-primary-bold: 'Noto Sans Bold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$breakpoint: 800px;