@import '../../style/variables';

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 10px auto;
  max-width: $max-width;
  padding: 0;

  @media screen and (max-width: $max-width) {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.tag {
  background: $colour-primary;
  border: none;
  border-radius: 10px;
  color: $colour-font-relief;
  cursor: pointer;
  display: block;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
}

.tagActive {
  background: $colour-background-relief;
  border: none;
  border-radius: 10px;
  color: $colour-font-main;
  cursor: pointer;
  display: block;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
}