@import '../../style/variables';

.outerContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  @media screen and (min-width: $breakpoint) {
    margin-top: 20px;
  }
}

.mainContainer {
  background-color: $colour-background-relief;
  box-sizing: border-box;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 80px;
  max-width: $max-width;
  padding: 16px;

  @media screen and (max-width: $max-width + 241) {
    margin-right: 8px;
    margin-left: 8px;
  }
  
  @media screen and (min-width: $breakpoint) {
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 800px) { // 800 TODO make var?
    display: grid;
    grid-template-columns: auto 270px;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: $max-width) {
    grid-template-columns: auto 336px;
  }
}

.title {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 20px;
}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.adjacentPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media screen and (min-width: $breakpoint) {
    justify-content: space-between;
  }

  > a {
    align-items: center;
    column-gap: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  p {
    color: $colour-secondary;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  > a > img {
    height: 16px;
    width: 25px;
  }
}

.article {
  padding-right: 16px;
}

.sidebar {
  border-top: 2px solid $colour-background;
  margin-top: 10px;
  padding-top: 10px;

  > * {
    max-width: 400px;
  }

  > * + * {
    margin-top: 30px;
  }

  @media screen and (max-width: $breakpoint) {
    > * {
      margin: auto;
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 800px) { // 800 TODO make var?
    border-top: none;
    border-left: 2px solid $colour-background;
    margin-top: 0;
    padding-top: 0;
    padding-left: 16px;
  }
}

.sideTags {
  margin-top: 26px;
}

.inBodyDate {
  font-size: 0.8rem;
}

.inBodyUpdateDate {
  display: none;
  font-size: 0.8rem;
}

.tagContainer {
  margin-bottom: 40px;
}

.component {
  margin-bottom: 40px;
}

.tag {
  background: $colour-primary;
  border-radius: 10px;
  color: $colour-font-relief;
  display: inline-block;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  width: auto;
  line-height: 26px;
  margin-right: 6px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: $max-width + 241) {
  .sideDate {
    display: flex !important;
    justify-content: flex-start !important;
    margin-top: 26px;
  }

  .sideTags {
    display: block !important;
  }

  .inBodyDate {
    display: none;
  }

  .inBodyUpdateDate {
    display: block;
  }

  .tagContainer {
    display: none;
  }
}