@import '../../style/variables';
@import '../../style/functions';

.article {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  @media screen and (min-width: $breakpoint) {
    margin-top: 20px;
  }
}

.container {
  background-color: $colour-background-relief;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 400px auto;
  height: 300px;
  max-width: $max-width;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 14px;

  h2 {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.readMore {
  font-size: 18px;
  text-transform: uppercase;
  text-align: end;
}

.tag {
  background: $colour-primary;
  border-radius: 0px 10px 10px 0px;
  color: $colour-font-relief;
  display: block;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
  width: 135px;
  line-height: 32px;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.tagsAndDate {
  display: none;
}

@media screen and (min-width: $breakpoint) and (max-width: $max-width + 300px) {
  .container {
    height: getVWUnits(300px, $max-width + 300);
    grid-template-columns: getVWUnits(400px, $max-width + 300) auto;
  }

  .textContainer {
    padding: 14px;
  
    h2 {
      font-size: getVWUnits(30px, $max-width + 300);
    }
  
    p {
      font-size: getVWUnits(18px, $max-width + 300);
    }
  }

  .readMore {
    font-size: getVWUnits(18px, $max-width + 300);
  }
}

@media screen and (max-width: $breakpoint) { 
  .container {
    display: block;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 18px 20px;
  }

  .textContainer {
    padding: 0;

    h2 {
      font-size: 26px;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .readMore {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .tagsAndDate {
    display: flex;
    justify-content: space-between;

    p {
      text-align: end;
    }
  }

  .tag {
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;
    height: auto;
    width: auto;
    line-height: 26px;
    margin-right: 6px;
    padding: 0 10px;
  }

  .mobileDate {
    span {
      font-size: 30px;
      margin-right: 6px;
    }
  }
}
